<form [formGroup]="detailForm">
  <table>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>choose</th>
    </tr>
    <tr *ngFor="let u of users; let i = index">
      <th *ngIf="!u.isEdit">{{u.name}}</th>
      <th *ngIf="u.isEdit">
        <input formControlName="name" type="text" value="{{u.name}}">
      </th>
      <th *ngIf="!u.isEdit">{{u.age}}</th>
      <th *ngIf="u.isEdit">
        <input formControlName="age" type="text"  value="{{u.age}}">
      </th>
      <th><button (click)="delete(u.id)">Delete</button></th>
      <th class="edit" *ngIf="!u.isEdit"><button (click)="edit(u)">Edit</button></th>
      <th class="edit" *ngIf="u.isEdit"><button (click)="getInfo(u.id)">Done</button></th>
    </tr>
  </table>
</form>
